<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="de.rwthaachen.rz.rwthapp.plugins.fileopener"
    version="0.1.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>  

    <name>File Opener for Android and iOS</name>

    <js-module src="www/fileopener.js" name="FileOpener">
        <clobbers target="window.plugins.fileOpener" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileOpener">
                <param name="android-package" value="de.rwthaachen.rz.rwthapp.plugins.fileopener.FileOpener"/>
            </feature>
        
        </config-file>
        <source-file src="src/android/FileOpener.java" target-dir="src/de/rwthaachen/rz/rwthapp/plugins" />
    </platform>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileOpener">
                <param name="ios-package" value="FileOpener" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/FileOpener.h" />
        <source-file src="src/ios/FileOpener.m" />
    </platform>
</plugin>
